<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="calcpa.calcsummerproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity
            android:name=".HomePage.CalcHomePage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TipCalculator.TipCalculator"
            android:label="@string/title_activity_tip_calculator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BasicCalculator.BasicCalc"
            android:label="@string/title_activity_basic_calc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Geometry.Geometry"
            android:label="@string/title_activity_geometry"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Triangle.Triangle"
            android:label="@string/title_activity_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Square.Square"
            android:label="@string/title_activity_square"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Rectangle.Rectangle"
            android:label="@string/title_activity_rectangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Rhombus.Rhombus"
            android:label="@string/title_activity_rhombus"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Parallelogram.Parallelogram"
            android:label="@string/title_activity_parallelogram"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Trapezoid.Trapezoid"
            android:label="@string/title_activity_trapezoid"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Kite.Kite"
            android:label="@string/title_activity_kite"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Hexagon.Hexagon"
            android:label="@string/title_activity_hexagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Pentagon.Pentagon"
            android:label="@string/title_activity_pentagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Octagon.Octagon"
            android:label="@string/title_activity_octagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Heptagon.Heptagon"
            android:label="@string/title_activity_heptagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Nonagon.Nonagon"
            android:label="@string/title_activity_nonagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Decagon.Decagon"
            android:label="@string/title_activity_decagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Circle.Circle"
            android:label="@string/title_activity_circle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"  />
         <activity
            android:name=".Geometry.Eclipse.Eclipse"
            android:label="@string/title_activity_eclipse"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Cube.Cube"
            android:label="@string/title_activity_cube"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Cuboid.Cuboid"
            android:label="@string/title_activity_cuboid"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Cylinder.Cylinder"
            android:label="@string/title_activity_cylinder"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Cone.Cone"
            android:label="@string/title_activity_cone"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.AcuteTriangle"
            android:label="@string/title_activity_acute_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.RightTriangle"
            android:label="@string/title_activity_right_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.ObtuseTriangle"
            android:label="@string/title_activity_obtuse_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.EquilateralTriangle"
            android:label="@string/title_activity_equilateral_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.IsoscelesTriangle"
            android:label="@string/title_activity_isosceles_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.ScaleneTriangle"
            android:label="@string/title_activity_scalene_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

    </application>

</manifest>
