<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="calcpa.calcsummerproject">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity
            android:name=".HomePage.CalcHomePageActivty"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TipCalculator.TipCalculatorActivity"
            android:label="@string/tip_calc"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage.CalcHomePageActivty"/>
        </activity>

        <activity
            android:name=".BasicCalculator.BasicCalcActivity"
            android:label="@string/title_activity_basic_calc"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage.CalcHomePageActivty" />
        </activity>

        <activity
            android:name=".Geometry.GeometryActivity"
            android:label="@string/title_activity_geometry"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage.CalcHomePageActivty"/>
        </activity>

        <activity
            android:name=".Geometry.Triangle.Triangle"
            android:label="@string/title_activity_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Square.SquareActivity"
            android:label="@string/title_activity_square"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Rectangle.RectangleActivity"
            android:label="@string/title_activity_rectangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Rhombus.RhombusActivity"
            android:label="@string/title_activity_rhombus"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Parallelogram.ParallelogramActivity"
            android:label="@string/title_activity_parallelogram"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Trapezoid.TrapezoidActivity"
            android:label="@string/title_activity_trapezoid"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Kite.KiteActivity"
            android:label="@string/title_activity_kite"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Hexagon.HexagonActivity"
            android:label="@string/title_activity_hexagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Pentagon.PentagonActivity"
            android:label="@string/title_activity_pentagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Octagon.OctagonActivity"
            android:label="@string/title_activity_octagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Heptagon.HeptagonActivity"
            android:label="@string/title_activity_heptagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Nonagon.NonagonActivity"
            android:label="@string/title_activity_nonagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Decagon.DecagonActivity"
            android:label="@string/title_activity_decagon"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Circle.CircleActivity"
            android:label="@string/title_activity_circle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Eclipse.EllipseActivity"
            android:label="@string/title_activity_eclipse"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Cube.CubeActivity"
            android:label="@string/title_activity_cube"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Cuboid.CuboidActivity"
            android:label="@string/title_activity_cuboid"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Cylinder.CylinderActivity"
            android:label="@string/title_activity_cylinder"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Cone.ConeActivity"
            android:label="@string/title_activity_cone"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.GeometryActivity"/>
        </activity>

        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.AcuteTriangle"
            android:label="@string/title_activity_acute_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.Triangle.Triangle"/>
        </activity>

        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.RightTriangle"
            android:label="@string/title_activity_right_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.Triangle.Triangle"/>
        </activity>

        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.ObtuseTriangle"
            android:label="@string/title_activity_obtuse_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.Triangle.Triangle"/>
        </activity>

        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.EquilateralTriangle"
            android:label="@string/title_activity_equilateral_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.Triangle.Triangle"/>
        </activity>

        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.IsoscelesTriangle"
            android:label="@string/title_activity_isosceles_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.Triangle.Triangle"/>
        </activity>

        <activity
            android:name=".Geometry.Triangle.TypesOfTriangle.ScaleneTriangle"
            android:label="@string/title_activity_scalene_triangle"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Geometry.Triangle.Triangle"/>
        </activity>

    </application>

</manifest>
